.facebook-button {
  border-radius: 10px;
  background-color: #4267B2; /* Set the background color to Facebook blue */
  color: white; /* Set the text color to white */
  padding: 12px 24px; /* Increase the padding to make the button larger */
  font-size: 16px; /* Increase the font size to make the button text larger */
  margin-top: 20px;
}

.profile-image {
  width: 100px; /* Set the desired width of the image */
  height: 100px; /* Set the desired height of the image */
}



